<% title _("Changed Ansible variables") %>
<%= form_tag confirm_import_ansible_variables_path do %>
  <h4><%= _("Select the changes you want to realize in Foreman") %></h4>
  <h6>
  <%= _("Toggle") %>:
  <%= link_to_function(icon_text("check", _("New")),
                       "toggleCheckboxesBySelector('.variable_select_boxes_new')",
                       :title => _("Check/Uncheck new")) %> |
  <%= link_to_function(icon_text("check", _("Obsolete")),
                       "toggleCheckboxesBySelector('.variable_select_boxes_obsolete')",
                       :title => _("Check/Uncheck obsolete")) %>
  </h6>
  <table class="<%= table_css_classes %>">
    <thead>
      <tr>
        <th class="ca">
          <%= link_to_function(icon_text("check"),
                               "toggleCheckboxesBySelector('.variable_select_boxes')",
                               :title => _("Check/Uncheck all")) %>
        </th>
        <th><%= _("Name") %></th>
        <th><%= _("Ansible role") %></th>
        <th class="col-md-2"><%= _("Hosts count") %></th>
        <th class="col-md-2"><%= _("Hostgroups count") %></th>
        <th><%= _("Operation") %></th>
      </tr>
    </thead>
    <tbody>
      <% changed.each do |kind, variables| %>
        <% variables.each do |variable| %>
          <tr>
            <td>
              <%= check_box_tag "changed[#{kind}][#{variable.ansible_role}][#{variable}]", variable.to_json, false, :class => "variable_select_boxes variable_select_boxes_#{kind} variable_select_boxes_variable_#{variable}" %>
            </td>
            <td>
              <%= link_to_function("#{variable}", "toggleCheckboxesBySelector('.variable_select_boxes_variable_#{variable}')", :title => _("Check/Uncheck all %s changes") % variable) %>
            </td>
            <td><%= variable.ansible_role %></td>
            <td><%= variable.ansible_role.hosts.count %></td>
            <td><%= variable.ansible_role.hostgroups.count %></td>
            <td>
              <%= { "new" => _("Add"), "obsolete" => _("Remove") }[kind] %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= link_to _("Cancel"), ansible_variables_path, :class => "btn btn-default" %>
    <%= submit_tag _("Update"), :class => "btn btn-primary" %>
  </div>
<% end %>
