<% content_for(:title, _("Ansible Roles")) %>
<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <%= icon_text("play", "", :kind => "fa") %>
  </div>
  <h1><%= _('Ansible Roles') %></h1>
  <p><%= _('No Ansible Roles were found in Foreman. If you want to assign roles to your hosts,
             you have to import them first.').html_safe %>
  </p>
  <p><%= link_to(_('Learn more about this in the documentation.'), documentation_url('#4.1ImportingRoles', :root_url => ansible_doc_url), target: '_blank') %></p>
  <div class="blank-slate-pf-secondary-action">
    <%= ansible_proxy_import(hash_for_import_ansible_roles_path) %>
  </div>
</div>
